<h2>{{title}}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="answer-edit">
        <div class="form-group">

            <label for="text">Answer text:</label>
            <br />
            <textarea id="text" formControlName="Text" placeholder="enter a
                suitable text..." class="form-control"></textarea>
            <span *ngIf="hasError('Text')" class="glyphicon glyphicon-remove
                form-control-feedback" aria-hidden="true"></span>
            <div *ngIf="hasError('Text')" class="help-block">
                Text is a required field: please insert a valid text.
            </div>
        </div>

        <div class="form-group"
        [ngClass]="{ 'has-error has-feedback' : hasError('Value') }">

            <label for="value">Score Value:</label>
            <br />
            <select id="value" name="value"

                class="form-control">
                <option value="">Pick a value...</option>
                <option *ngFor="let num of [-5,-4,-3,-2,-1,0,1,2,3,4,5]"
                    [value]="num">{{num}}</option>
            </select>
        </div>

        <div class="form-group commands">
            <button *ngIf="editMode" type="submit"
                (click)="onSubmit()"
                class="btn btn-success">
                Apply Changes
            </button>
            <button *ngIf="!editMode" type="submit"
                (click)="onSubmit()"
                class="btn btn-success">
                Create the Answer!
            </button>
            <input type="submit" value="Cancel"
                (click)="onBack()"
                class="btn btn-default" />
        </div>
    </div>
</form>
