<div class="panel panel-primary {{class}}">
    <div class="panel-heading row">
        <h4 class="col-10">{{title}}</h4>
        <span class="fas fa-bolt col"></span>        
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let quiz of quizzes" (click)="onSelect(quiz)">
                <img src="https://lorempixel.com/50/50/?random={{quiz.Id}}"
                    alt="{{quiz.Title}}" class="img-circle" />
                <span>{{quiz.Title}}</span>
            </li>
        </ul>
    </div>
</div>