<div class="container-fluid">
    <ul class="nav flex-column nav-pills nav-justified">
        <li class="nav-item">
            <a [routerLink]="['/home']">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/about']">
                About
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/login']">
                Login
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/quiz/create']">
                Create a Quiz
            </a>
        </li>
    </ul>
</div>
